<DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Meu Site</title>
        <style> </style>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
    </head>
    <body
        hx-get="/home/atalho"
        hx-trigger="keydown[shiftKey && altKey && (key=='p' || key=='P')] preventDefault from:body"
        hx-target="main">
        
        <h1>Meu Site</h1>
        <p>Bem vindo ao meu site!</p>
        <nav>
            <button hx-get="/home/pagina1"
                    hx-target="main"
                    hx-push-url="true">
                Página 1
            </button>
            <button hx-get="/home/pagina2"
                    hx-target="main"
                    hx-push-url="true">
                Página 2
            </button>
            <button hx-get="/home/curtidas"
                    hx-target="main"
                    hx-push-url="true">
                    Curtidas
            </button>
        </nav>
        <hr>
        <main hx-get="{{ pagina }}"
              hx-target="main"
              hx-trigger="load"
              hx-push-url="true">
        </main>
    </body>
</html>